extends ./layout.jade
block contenido
	section(class="col-md-12 jumbotronformularios")
		div(class="col-sm-12 jumbotronformularios container ")
			center
				h4(class="ptitulo") Editar palabra al lexicón V#{version}
	section(class="col-md-12")
		div(class="col-sm-2")
		div(class="col-sm-8 formularios container")
			article(class="clearfix")
				div(class="col-sm-12 a")
					center
						p(class="ptitulo") Edite la polaridad de la palabra
						br
			div(class="col-sm-3")
			div(class="col-sm-9")
				form(method="post" action="/homeLexicon/lexicon/editar/p" class="form-inline")
					div(class="col-sm-12")
						label(class="col-sm-3") Palabra:
						input(type="text" class="readonly input-md chat-input" name="palabra" value="#{palabra}" readonly)
					div(class="col-sm-12")
						br
					div(class="col-sm-12")
						label(class="col-sm-3") Polaridad:
						select(name= "polaridad")
							each polaridad in polaridades
								if polaridadS == polaridad
									option(value= polaridad selected)=polaridad
								else
									option(value= polaridad)=polaridad
						input(type="hidden" name="version" value=version)
						br
					div(class="col-sm-12 form-group" )
						br
						div(class="col-sm-6")
							center
								button(class="btn btn-primary login-form-control " type="submit") Guardar
						div(class="col-sm-6")
							center
								a(class=" btn btn-primary" href="/homeLexicon/lexicon/" + version) Regresar
	section(class="col-md-12 footer")
		center
			p(class="small") © 2017 Copyright Grupo de Investigación Gesdatos - Universidad Distrital Francisco José de Caldas
	script(src="/bootstrap/js/jquery.js")
	script(src="/bootstrap/js/bootstrap.min.js")